<html>
{{template "header.tmpl.html"}}

<body>
  {{template "nav.tmpl.html"}} {{template "jumbotron.tmpl.html"}}

  <div class="container">
    <h1>Uploaded Files</h1>
    <ul class="list-group">
      {{ range . }}
      <li class="list-group-item">
        <h4>
          <a href="{{ .ID | persistentLink }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a> {{ .Filename }}
        </h4>
        <p>Downloaded at <i>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</i> from <i>{{ .OriginURL }}</i></p>
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="container">
    <small>Hosted with 💙 on Heroku</small>
  </div>
</body>

</html>
