<html>
{{template "header.tmpl.html"}}

<body>
  {{template "nav.tmpl.html"}} {{template "jumbotron.tmpl.html"}}

  <div class="container">
    <form class="form-inline text-center" action="/">
      <div class="form-group">
        <label class="sr-only" for="apiKeyInput">API Key</label>
        <input name="api_key" type="text" class="form-control" id="apiKeyInput" placeholder="API Key">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</body>

</html>
